In [ ]:
import weather_ch

## Read the data into a dataframe

In [2]:
df = weather_ch.read_data('../data/zh/homog_mo_SMA.txt')
df.head()

   Year  Month  Temperature  Precipitation
0  1864      1         -6.6           25.7
1  1864      2         -1.5           32.9
2  1864      3          4.5           51.0
3  1864      4          6.8           46.9
4  1864      5         12.3           78.4